@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, code {
	font-family: 'Inconsolata', monospace;
}
a {
	@apply .text-teal-500;
}
a:hover {
	text-decoration: underline;
}
code {
	@apply .text-red-500;
	background: #eee;
	padding: 0 5px;
	border-radius: 2px;
}
#post p {
	padding: 0.5rem 0;
}
#post h2 {
	@apply .text-red-500;
	font-size: 1.5rem;
	margin: 1rem 0;
}
#post h2:before {
	@apply .text-gray-300;
	content: '#';
	margin-right: 5px;
}
