* {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; /* Add this line for smooth scrolling */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  width: 100%;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

h1 {
  color: teal;
  margin: 2rem 0 0.75rem;
}

h2 {
  margin: 1.75em 0 0.5em;
}

h3 {
  margin: 1.5em 0 0.25em;
}

a {
  text-decoration: none;
  color: teal;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: "Dm Mono", "Roboto mono", monospace;
}
pre {
  code {
    display: block;
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 0.5rem;
    overflow-x: auto;
    line-height: 1.5rem;
  }
}

code {
  background-color: #f4f4f4;
  padding: 2px 6px;
  border-radius: 0.25rem;
  color: teal;
}

p {
  line-height: 1.75rem;
}

img {
  max-width: 100%;
  height: auto;
}
header {
  width: 100%;
  padding: 1.5rem 0;
}
footer {
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 !important;
  width: 100%;
  font-size: 0.875rem;
}
time {
  color: #666;
}
ul {
  li {
    padding: 0.25rem 0;
  }
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.container {
  width: 100%;
  max-width: 696px;
  margin: 0 auto;
}
.main-menu {
  display: flex;
  gap: 2rem;
  font-weight: 400;

  a {
    color: initial;
  }
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.block {
  display: block;
}
.text-sm {
  font-size: 0.875rem;
}
.text-lg {
  font-size: 1.125rem;
}

.prose {
  img {
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }
}

.tag {
  font-size: 0.75rem;
  color: #666;
  background: #eee;
  background-opacity: 0.5;
  padding: 1px 8px;
  border-radius: 0.25rem;

  &:hover {
    background: #ddd;
  }
}

.content-with-outline {
  display: flex;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-content {
  width: 100%;
  flex: 1;
}

.aside-outline {
  position: fixed;
  left: 0;
  top: 120px;
  width: 300px;
  display: none;
}

.aside-outline-content {
  opacity: 0.5;
  padding: 10px;
  font-size: 0.825rem;
  color: #666;
  border-radius: 4px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;

  &:hover {
    opacity: 1;
  }
}

// Hide the aside outline on mobile devices
/* Change from min-width to max-width to hide on mobile */
@media screen and (min-width: 768px) {
  .aside-outline {
    display: block;
  }
}

.outline-list {
  list-style: none;
  padding-left: 0;
  color: gray;
}

.outline-list > li {
  padding: 2px 0;
}

.nested-list {
  margin-left: 1.5rem;
}

/* Highlight */
.hl-keyword {
  color: #4f95d1;
}

.hl-property {
  color: #46b98d;
}

.hl-attribute {
  font-style: italic;
}

.hl-type {
  color: #d14f57;
}

.hl-generic {
  color: #9d3af6;
}

.hl-value {
  color: #000;
}

.hl-variable {
  color: #000;
}

.hl-comment {
  color: #888888;
}

.hl-blur {
  filter: blur(2px);
}

.hl-strong {
  font-weight: bold;
}

.hl-em {
  font-style: italic;
}

.hl-addition {
  display: inline-block;
  min-width: 100%;
  background-color: #00ff0033;
}

.hl-deletion {
  display: inline-block;
  min-width: 100%;
  background-color: #ff000022;
}
