@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, code {
	font-family: 'Inconsolata', monospace;
}
a {
	@apply text-cyan-500;
}
a:hover {
	text-decoration: underline;
}
code:not([class]) {
	@apply text-red-500;
	background: #eee;
	padding: 0 5px;
	border-radius: 2px;
}
#post h2 {
	@apply text-gray-900 font-semibold text-2xl my-6;
}
#post h2:before {
	@apply text-gray-300 absolute -ml-5;
	content: '#';
}
#post p {
	@apply mb-5;
}
#post pre {
	@apply mb-5;
}
#post ul {
	@apply mb-5 list-disc list-inside pl-5;
}
#post .hljs {
	@apply p-5;
}
