@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, code {
	font-family: 'Inconsolata', monospace;
}
a {
	@apply text-cyan-500;
}
a:hover {
	text-decoration: underline;
}
code:not([class]) {
	@apply text-red-500;
	background: #eee;
	padding: 0 5px;
	border-radius: 2px;
}
#post p {
	margin: 1.5rem 0;
}
#post h2 {
	@apply text-cyan-500;
	font-size: 1.5rem;
	margin-bottom: 0.75rem;
}
#post h2:before {
	@apply text-gray-300;
	content: '#';
	margin-right: 5px;
}
#post ul {
	margin: 0.5rem 0;
}
#post ul li:before {
	content: '-';
	@apply mx-3;
}
